.App {
  font-family: sans-serif;
  text-align: center;
}

.movie-container{
  width:350px;
  margin-top: 10px;
  margin-left: 10px;
  border: 1px solid gray;
  padding: 5px;
  
}

.main-container{
  display:flex;
  flex-wrap: wrap;
}

.movie-poster{
  width: 300px;
  height: 350px;
}

.movie-section{
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  
}

.movie-like,.movie-dislike{
background-color: white;
border: none;
}

.movie-like,.movie-dislike:hover{
  cursor: pointer;
}

.movie-summary{
  font-family: Arial, sans-serif;
  font-size: 14px;
  color:rgb(77, 81, 86)
}
